{{! Email address verify }}
Hey, we want to verify that you are indeed "{{key}}".
If that's the case, please follow the link below:

<a href="{{{url}}}">{{{url}}}</a>

If you're not {{key}} or didn't request verification you can ignore this email.

{{{by}}}
