/**
 * {{pascalcase name}} component
 */
'use strict'

import React from 'react'
import { asBound } from '../../wrappers'

const {{pascalcase name}} = function {{pascalcase name}}Impl(props) {
  return (
   <div>{{name}}</div>
  )
}

export default asBound(
  {{pascalcase name}},
  (state) => ({

  }),
  ({
  }, propsProxy) => ({

  })
)
