/**
 * {{pascalcase name}} component
 */
'use strict'

import React from 'react'
import { compose, asBound, } from 'the-hoc'

const {{pascalcase name}} = compose(

)(
  function {{pascalcase name}}Impl(props) {
    return (
     <div>{{name}}</div>
    )
  }
)

export default asBound(
  {{pascalcase name}},
  (state) => ({

  }),
  ({
  }, propsProxy) => ({

  })
)
