{{! Password reset mail }}
こんにちは  {{#if name}}{{name}}さん{{/if}}

アカウント{{key}}に対するパスワード初期化のリクエストを受理しました。

以下のリンクをクリックして、新しいパスワードを入力してください。

<a href='{{{url}}}'>{{{url}}}</a>

このリンクの有効期限は{{expireAt}}です。

初期化を中止したい場合は、このメッセージを無視してください。
パスワードは元のまま変更されません。

{{{by}}}